

html, body, .wrap {
    width: 100%;
    height: 100%;
}

body {
    background-color: #bf9dcf ;
}

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.contents, .contents__today, .contents__todo,
.contents__add .footer {
    width: 500px;
}

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contents {
    background-color: white;
    border-radius: 15px;
    margin: 0px auto;
}

.contents__today {
    border-bottom: 1px solid gray;
}

.contents__date {
    margin: 25px 20px 10px 20px;
    font-size: 2.5em;
    font-weight: bold;
}

.contents__day {
    margin: 0px 20px 10px;
    font-size: 1.5em;
    color: gray;
}

.contents__todo {
    height: 550px;
}

.contents__todo__list {
    margin: 20px 25px;
}

.contents__add {
    height: 50px;
    background-color: teal;
}

.footer {
    margin: 20px;
    text-align : center;
}
